<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% else %}
		<meta name="description" content="{{ page.title }}">
		{% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
		<link rel="alternative" type="application/xml+rss" title="RSS" href="{{ "/feed.xml" | relative_url }}"
	</head>
<body>

<div id="content">
{{ content }}
</div>

<div id="page-footer">
	<a href="{{ "/" | relative_url }}">.home</a> &mdash;
	<a href="https://hachyderm.io/@ltriant" rel="me">.mastodon</a> &mdash;
	<a href="https://twitter.com/ltriant" rel="me">.twitter</a> &mdash;
	<a href="{{ "/feed.xml" | relative_url }}">.rss</a>
</div>

</body>
</html>
