<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
	</head>
<body>

<div id="content">
{{ content }}
</div>

<div id="page-footer">
	<a href="{{ "/" | relative_url }}">home</a> - 
	<a href="{{ "about.html" | relative_url }}">about</a> -
	<a href="https://twitter.com/ltriant">twitter</a> -
	<a href="https://mastodon.technology/@ltriant" rel="me">mastodon</a> -
	<a href="{{ "/feed.xml" | relative_url }}">rss</a>
</div>

</body>
</html>
